In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("../dataset/processed/clean_ecommerce.csv")
df["InvoiceDate"] = pd.to_datetime(df["InvoiceDate"])

In [3]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,Revenue
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,2010-12-01 08:26:00,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,2010-12-01 08:26:00,3.39,17850.0,United Kingdom,20.34

In [4]:
customer_df= df.groupby("CustomerID").agg({
    "InvoiceNo":"nunique",
    "Revenue":"sum",
    "Quantity":"sum",
    "InvoiceDate":["min","max"]
}).reset_index()

In [5]:
customer_df.columns = [
    "CustomerID",
    "Total_Orders",
    "Total_Revenue",
    "Total_Quantity",
    "First_Purchase_Date",
    "Last_Purchase_Date"
]

In [6]:
customer_df["Avg_Order_Value"] = (
    customer_df["Total_Revenue"] / customer_df["Total_Orders"]
)

In [7]:
customer_df.head()
customer_df.shape

(4338, 7)

In [8]:
customer_df.to_csv("../dataset/processed/customer_features.csv", index=False)